CLIENT_URL="http://localhost:5173"

PORT=3000
DATABASE_URL= 

OPENROUTER_API=
TAVILY_API=
NODE_ENV=development

UPSTASH_REDIS_REST_URL=http://upstash-local:8079
UPSTASH_REDIS_REST_TOKEN=example_token_not_needed_locally